.footer {
    background: radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
    min-height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    color: $text-color-wht;
    padding: $margin-xxl;
    @include media-breakpoint-down(md){
        padding: $margin-lg;
    }
    @include media-breakpoint-down(sm) {
        padding: $margin-sm;
    }
    &--wrapper {
        padding-top: 2%;
    }
    // Site logo in footer styling start
    &--logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        .brand-xl {
            img {
                @include media-breakpoint-down(md) {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    display: block;
                }
            }
        }
        .brand-md {
            img {
                @include media-breakpoint-up(md) {
                    display: none;
                }
                @include media-breakpoint-down(md) {
                    display: block;
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
            img {
                max-width: 100%;
                height: auto;
            }
        p {
            font-size: 0.875rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.72);
        }
    }
    // Site logo in footer styling end
    &--nav {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: end;
        @include media-breakpoint-down(sm) {
            justify-content: start;
        }
        .footer-menu {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            ul {
                list-style-type: none;
                padding-left: 0;
                padding-top: 5%;
                a {
                    text-decoration: none;
                    color: $text-color-wht;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    &--divider {
        width: 100%;
        border: 1px solid $text-color-wht;
        background-color: $color-white;
    }
    &--copy {        
        p {
            font-size: 0.8rem;
        }
        &__left {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            text-align: start;
            color: rgba(255, 255, 255, 0.72);
            white-space: nowrap;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
            }
            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.72);
            }
        }
        &__right {
            text-align: end;
            color: rgba(255, 255, 255, 0.72);
            @include media-breakpoint-down(sm) {
                text-align: start;
                padding: 5% 0;
            }
            a {
                text-decoration: none;
                color: $text-color-wht;
                &:hover {
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
        }
    }
}