.footer {
    background: radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #1F1F1D;
    min-height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    color: $text-color-wht;
    padding: $margin-xxl;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-down(lg){
        padding: $margin-lg;
    }
    &--wrapper {
        padding-top: 2%;
    }
    // Site logo in footer styling start
    &--logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
            img {
                max-width: 100%;
                height: auto;
                @include media-breakpoint-down(lg){
                    max-width: 70%;
                    height: auto;
                }
                @include media-breakpoint-down(lg){
                    max-width: 30%;
                    height: auto;
                }
            }
        p {
            font-size: 0.8rem;
            color: rgba(255, 255, 255, 0.72);
        }
    }
    // Site logo in footer styling end
    &--nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        a {
            font-size: 1rem;
            text-decoration: none;
            color: $text-color-wht;
        }
    }
    &--divider {
        width: 100%;
        border: 1px solid $text-color-wht;
        background-color: $color-black;
    }
    &--copy {        
        p {
            font-size: 0.8rem;
        }
        &__left {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            text-align: start;
            color: rgba(255, 255, 255, 0.72);
            white-space: nowrap;
            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.72);
            }
        }
        &__right {
            text-align: end;
            color: rgba(255, 255, 255, 0.72);
            a {
                text-decoration: none;
                color: $text-color-wht;
                &:hover {
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

.scroll-to-top {
position: relative;
}

.scrl-btn-position {
position: fixed;
bottom: 1rem;
right: 1rem;
z-index: 99;
}

.scrl-btn-style {
border: 0;
border-radius: 50%;
height: 4rem;
width: 4rem;
color: $primary-color;
cursor: pointer;
font-size: 3rem;
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
}