.header {
    // Header style start
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0.5rem 15%;
    @include media-breakpoint-down(md) {
        padding: $margin-lg;
    }
    @include media-breakpoint-down(sm) {
        padding: 1%;
    }
    // Header style end   

    // Site logo styling start
    &--logo {
        a {
            img {
                max-height: 8rem;
                width: auto;
                @include media-breakpoint-down(sm) {
                    max-height: 3rem;
                    width: auto;
                }
            }
        }
    }
    // Site logo styling end

    // Start site main menu desktop styling
    &--wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include media-breakpoint-down(sm) {
            justify-content: center;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
        // Start hamburger icon styling
        &__toggle {
            text-align: right;
            position: absolute;
            z-index: 100;
            top: 1rem;
            right: 2rem;
            cursor: pointer;

            i {
                color: $text-color-wht;
                font-size: 1.5rem;
                position: absolute;
                top: 0;
                right: 0;
            }
            i:hover {
                color: $sec-hover-color;
            }
            i:active {
                color: $secondary-color;
            }
            @include media-breakpoint-up(sm) {
                display: none;
            }
            .closeIcon {
                display: none;
            }
        }
        // End hamburger icon styling

        // Start navbar styling
        &__nav {
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }
            ul {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                margin: 0;
                list-style-type: none;
                white-space: nowrap;

                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    text-align: center;
                }
                a {
                    font-size: 0.875rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: $text-color-wht;
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
        // End navbar styling
        &__button {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    // End site main menu desktop styling
}
.primary-menu {
    padding-left: 0;
    padding-right: 2rem;
}

.menu-open header nav {
    display: block;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: $primary-color;
    color: $text-color-wht;
    list-style: none;
    padding: 10%;
    & li {
        list-style-type: none;
        text-align: center;
        & a {
            text-decoration: none;
            letter-spacing: 1px;
            color: $text-color-wht;
            &:hover {
                color: $secondary-color;
            }
        }
    }
  }
  .showMenu {
    transform: translateY(0);
  }