// Start tools styling
.tools {
    min-height: 100vh;
    padding: $margin-xxl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-down(md) {
        padding: $margin-lg;
    }
    @include media-breakpoint-down(sm) {
        padding: $margin-sm;
    }
    &--right {
        @include media-breakpoint-up(sm) {
            display: block;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &--left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__wrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: baseline;
            padding: 0.5rem 0;
            p {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.25rem;
            }
            i {
                color: $primary-color;
                background: rgba(0, 135, 254, 0.1);
                border-radius: 6.188rem;
                padding: 0.2rem;
            }
        }
    }
    &--bottom {
        @include media-breakpoint-up(sm) {
            display: none;
        }
        @include media-breakpoint-down(sm) {
            display: block;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
// End tools styling