$fa-font-path: '../fonts/font-awesome';

// Site colors
$primary-color: #0087FE;
$prim-hover-color: #0E75EA;
$sec-hover-color: #FFFFFF66;
$disabled-color: #BBBBB8;
$secondary-color: #000;
$text-color-blc: #000;
$text-color-wht: #fff;
$text-color-dsb: #5F5F5C;
$hero-txt-bcg: #2f2f2f83;
$bcg-color: #2da9e233;
$color-black: #000;
$color-white: #fff;

// Width of site margin
$margin-xxl: 0% 15%;
$margin-lg: 0% 2%;
$margin-sm: 10% 1%;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1167px,
  xl: 1344px,
) !default;
