$fa-font-path: '../fonts/font-awesome';

// Bootstrap
$font-size-root: 10px;
$font-size-base: 1.6rem;

// Site font sizes
$size-primary: 3rem;
$size-secondary: 2rem;
$size-tertiary: 1.6rem;
$size-min: 1.5rem;

// Site colors
$main-color: rgb(0, 0, 0);
$primary-color: #133858;
$secondary-color: #e2c52d;
$tertiary-color: #1b1b1b;
$text-color: #000;
$text-color-contr: #fff;
$hero-txt-bcg: #2f2f2f83;
$bcg-color: #2da9e233;

$scrollbar-color: #c4c4c4;
$scrollbar-color-hover: #aaaaaa;

// Width of site margin
$margin-strong: 0 20%;
$margin-big: 0 15%;
$margin-xxl: 0% 10%;
$margin-lg: 0% 5%;
